<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="WarehouseOneEntitiesL" connectionString="metadata=res://*/WarehouseDbEnitityes.csdl|res://*/WarehouseDbEnitityes.ssdl|res://*/WarehouseDbEnitityes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RQ486KL;initial catalog=WarehouseOne;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Storehouse.WFA.Properties.Settings.WarehouseOneConnectionString"
      connectionString="Data Source=DESKTOP-RQ486KL;Initial Catalog=WarehouseOne;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>